<html>
<head>
    <link href="/css/bootstrap-1.2.0.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Idea Marketplace</title>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ path('homepage') }}">Idea Marketplace</a></h3>
          <ul class="nav">
            <li><a href="{{ path('logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Forbidden</h1>
      <p>Sorry, you are not allowed to access the marketplace without a knplabs.com account.</p>
    </div>

</body>
</html>