<html>
<head>
    <link href="/css/bootstrap-1.2.0.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Idea Marketplace</title>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ path('homepage') }}">Idea Marketplace</a></h3>
          <ul class="nav">
            <li><a name="username">({{ username }})</a></li>
            <li><a href="{{ path('project_new') }}">New project</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% if migration_infos is defined %}
        {% include "_migration_infos.html.twig" %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>

</body>
</html>