<html>
<head>
    <link href="/css/bootstrap-1.2.0.min.css" rel="stylesheet" type="text/css" />
    <title>Idea Marketplace</title>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ path('homepage') }}">Idea Marketplace</a></h3>
        </div>
      </div>
    </div>

{% block content %}{% endblock %}

</body>
</html>